

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Información</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Qué es AI Vitality?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      AI Vitality es una herramienta de inteligencia artificial que te ayuda a evaluar síntomas respiratorios y detectar posibles enfermedades de manera preliminar.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Cómo funciona?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Solo ingresa tus síntomas y nuestra IA analizará los datos para proporcionarte un resultado estimado. <br>
      <strong>Importante:</strong> Esta evaluación no reemplaza una consulta médica.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Beneficios</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ✅ Evaluación rápida y accesible.<br>
      ✅ Puede ayudar a identificar problemas antes de acudir al médico.
      
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Recomendaciones de uso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      - Usa la app solo como una guía.<br>
      - Si presentas síntomas graves, busca atención médica de inmediato.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Preguntas Frecuentes (FAQ)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <strong>¿Los resultados son 100% precisos?</strong><br>
      ❌ No, son una guía preliminar.<br><br>
      
      <strong>¿Necesito internet para usar la app?</strong><br>
      ✅ Sí, para procesar la evaluación.<br><br>

      <strong>¿Puedo guardar mi historial?</strong><br>
      ✅ Sí, puedes guardar tus evaluaciones en el historial.
    </ion-card-content>
  </ion-card>



  <ion-button expand="full" color="primary" routerLink="/portada">
    Volver a Inicio
  </ion-button>

</ion-content>
